body {
  background-color: whitesmoke;
  font-family: sans-serif;
  margin: 0em;
  margin-bottom: 1em;
}

header {
  background-color: red;
  position: sticky;
  top: 0%;
  display: flex;
  justify-content: space-between;
}

.h1 {
  background-color: black;
  color: white;
}

.h1:hover {
  color: red;
}

header ul {
  list-style: none;
  display: inline-flex;
}

header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: x-large;
  text-transform: uppercase;
}

a:hover {
  color: white;
  background-color: black;
}

.active {
  background-color: white;
  color: black;
}

header ul li a:active {
  color: white;
}

ul li {
  list-style: none;
}

.cover {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  margin-bottom: 1%;
}

.me {
  max-width: 30%;
  height: auto;
  float: right;
  margin: 1em;
}

.homepage {
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
}

.l1 {
  margin: 2.5em;
  margin-bottom: 1em;
  background-color: lightgreen;
  border: 5px solid black;
  height: 24em;
  width: 60em;
  float: right;
  font-size: medium;
}

.why {
  margin: 1em;
  text-align: center;
  font-size: x-large;
}

.p1 {
  margin: 1em;
  margin-right: 0em;
}

.l2 {
  margin: 2.5em;
  margin-bottom: 1em;
  background-color: orange;
  border: 5px solid black;
  height: 23em;
  width: 60em;
  float: left;
  font-size: medium;
}

.exp {
  margin: 1em;
  text-align: center;
  font-size: x-large;
}

.pep {
  max-width: 40%;
  height: auto;
  float: right;
  margin: 1em;
}

.p2 {
  margin: 1em;
  margin-right: 0em;
}

.l3 {
  margin: 2.5em;
  margin-bottom: 1em;
  background-color: yellow;
  border: 5px solid black;
  height: 23em;
  width: 60em;
  float: right;
  font-size: medium;
}

.cul {
  margin: 1em;
  text-align: center;
  font-size: x-large;
}

.mex {
  max-width: 40%;
  height: auto;
  float: right;
  margin: 1em;
}

.p3 {
  margin: 1em;
  margin-right: 0em;
}

.l4 {
  margin: 2.5em;
  margin-bottom: 1em;
  background-color: palevioletred;
  border: 5px solid black;
  height: 24em;
  width: 60em;
  float: left;
  font-size: medium;
}

.like {
  margin: 1em;
  text-align: center;
  font-size: x-large;
}

.angry {
  max-width: 30%;
  height: auto;
  float: right;
  margin: 1em;
}

.p4 {
  margin: 1em;
  margin-right: 0em;
}

div#content {
    margin: 1em;
}

.h2 {
    font-size: xx-large;
}

.img {
    max-width: 27em;
    height: auto;
    float: right;
    margin: 1em;
}

.ing {
    padding: .5em;
    background-color: limegreen;
    border: 5px solid black;
    height: 30em;
    width: 15em;
    float: left;
    font-size: medium;
}

.prep1 {
    padding: .5em;
    background-color: peru;
    border: 5px solid black;
    height: 30em;
    width: 20em;
    float: left;
    font-size: medium;
    margin-left: 5em;
    margin-right: 5em;
    color: black;
}

.ing2 {
    padding: .5em;
    background-color: brown;
    border: 5px solid black;
    height: 24em;
    width: 15em;
    float: left;
    font-size: medium;
    color: goldenrod;
}

.prep2 {
    padding: .5em;
    background-color: burlywood;
    border: 5px solid black;
    height: 24em;
    width: 20em;
    float: left;
    font-size: medium;
    margin-left: 5em;
    margin-right: 5em;
    color: black;
}

.ing3 {
    padding: .5em;
    background-color: #ff5555;
    border: 5px solid black;
    height: 18em;
    width: 15em;
    float: left;
    font-size: medium;
}

.prep3 {
    padding: .5em;
    background-color: burlywood;
    border: 5px solid black;
    height: 26em;
    width: 48em;
    float: left;
    font-size: medium;
    margin-left: 5em;
    margin-right: 5em;
    color: black;
}

.ing4 {
    padding: .5em;
    background-color: yellow;
    border: 5px solid black;
    height: 15em;
    width: 15em;
    float: left;
    font-size: medium;
}

.prep4 {
    padding: .5em;
    background-color: burlywood;
    border: 5px solid black;
    height: 15em;
    width: 40em;
    float: left;
    font-size: medium;
    margin-left: 5em;
    margin-right: 5em;
    color: black;
}