body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

header{
    background-color: red;

nav{
    display: inline-flex;
}
nav li{
    float: right;
    list-style: none;
    justify-content: space-between;
}

a:hover{
    color: white;
}